
 <body style="text-align-last: center;display: flex;height: 100% ; justify-content: center;align-items: center;  
 background-image: url('assets/images/logos/principal.jpg');">
   


  <section style="background-color: rgba(0, 0, 0, 0.57); border-radius: 20px;">
  <div class="card" style="width: 17rem; border-color: rgba(255, 255, 255, 0); background-color: rgba(255, 255, 255, 0); " >
    <img src="assets/images/logos/logope.png"  alt="..." style="padding: 30px;">
    <div class="card-body">
      <h5 class="card-title" style="text-transform: uppercase; font-weight: 400; font-size: 13px; color: #fff; ">por favor identifíquese</h5>
     
    </div>
   
    <div class="card-body" >
      
        <div class="row mb-3">
           <div class="col-sm-12">
             <input [(ngModel)]="users.username" type="email" placeholder="username" class="form-control" id="inputEmail3" 
             style="width: 100%; border-radius: 20px;background-color: rgba(157,157,157,0.32); color: #fff;">
           </div>
        </div>
        <div class="row mb-3">
           <div class="col-sm-12">
             <input [(ngModel)]="users.password" type="password" placeholder="password" class="form-control" id="inputPassword3"
              style="width: 100%; border-radius: 20px;background-color: rgba(157,157,157,0.32); color: #fff;">
           </div>
        </div>           
        
        <button type="submit" class="btn btn-warning" style="border-radius: 20px;width: 100%; background-color: rgb(199, 162, 43); border-color: rgb(199, 162, 43) ;"  (click)="login()">Iniciar Sesión</button>
      
    </div>
  </div>
</section>

</body> 



