
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Prueba</button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <a target="_parent" href="https://www.youtube.com/watch?v=Rb6Scz-5YOs&list=RDMMTLiGA_wrNp0&index=4">link</a>
    
            <p>
              Sube un archivo:
          
              <label for="exampleInputEmail1">NOMBRE:</label>
              <input [(ngModel)]="ArchivoModel.archivo" name="telefono" class="form-control"
                placeholder="Ingrese su nombre">
    
    
    
              <input type="file" [(ngModel)]="ArchivoModel.archivo" name="archivosubido">
              <button type="button" class="btn btn-primary" data-dismiss="modal"  id="cancelar"
              type="submit">Guardar</button>
    
          
            </p>
     
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
<table class="table">
    <thead class="table-light">
        <tr> 
            <th scope="col">#</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">URL</th>
            <th scope="col">IDDRIVE</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let archivo of archivos let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{archivo.nombre}}</td>
            <td>{{archivo.url}}</td>
           
            <td>{{archivo.iddrive}}</td>
        </tr>
    </tbody>
  </table>